{% extends 'base.html' %}
{% load static %} 


{% block title %} Guess The Word | Главная {% endblock %} 


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}


{% block content %}
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="{% url 'main-page' %}" class="nav-link active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="{% url 'sign-out' %}" class="nav-link">sign Out</a></li>
    </ul>
  </header>
</div>

<main class="bd-masthead mb-3" id="content">
  <div class="container-xxl bd-gutter">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for user_word in user_words %}
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
          </svg>
          <div class="container">
            <div class="carousel-caption">
              {% if user_word.is_guessed %}
              <p>Ваше слово <b>{{ user_word.word }}</b> отгадано.</p>
              {% else %}
              <p>Ваше слово <b>{{ user_word.word }}</b> не отгадано.</p>
              {% endif %}

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container" style="margin: 10px">
      <form class="row g-3 justify-content-center" method="post">
        {% csrf_token %}
        <div class="col-auto">
          <input name="create_word" type="text" class="form-control" placeholder="Создать слово"
            style="min-width: 10rem; max-width: 30rem !important" />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn btn-outline-info mb-3">
            Создать
          </button>
        </div>
      </form>
    </div>

    <div class="container" style="margin: 10px; text-align: center;">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for user_room in user_rooms %}
        <div class="col">
          <div class="card shadow-sm" style="border-radius: 25px;">
            <div class="card-body">
              <p class="card-title">Комната №{{ user_room.id }}</p>
              <p class="card-text">
                Создал пользователь {{ user_room.creator.username }}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if user_room.is_closed %}
                  <p>Комната закрыта</p>
                  {% else %}
                  <a href="{% url 'room' user_room.id %}" type="button" class="btn btn-outline-success">Присоединиться</a>
                  {% endif %}
                </div>
                <small class="text-body-secondary">{{ user_room.created_at }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container justify-content-center">
    <table class="mb-3" style="
        text-align: center;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background: #f9f9f9;
      ">
      <thead>
        <tr>
          <th scope="col">Слово</th>
          <th scope="col">Отгадано</th>
          <th scope="col">Создатель</th>
          <th scope="col">Дата создания</th>
        </tr>
      </thead>

      <tbody>
        {% for user_word in user_words %}
        <tr>
          <th>{{ user_word.word }}</th>
          <th>{{ user_word.is_guessed }}</th>
          <th>{{ user_word.creator.username }}</th>
          <th>{{ user_word.created_at }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}